<!-- templates/board/edit.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 수정</title>
</head>
<body>
    <h1>게시판 수정</h1>
    <form method="post">
        <p>이름: <input type="text" name="name" value="{{ board.name }}" required></p>
        <p>설명: <input type="text" name="description" value="{{ board.description }}"></p>
        <p><input type="submit" value="수정 완료"></p>
    </form>
    <a href="{{ url_for('board.board_list') }}">[뒤로가기]</a>
</body>
</html>